@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root{
    --primaryColor: #101820;
    --secondColor: #009BF9;
    --thirdColor: #caedea;
    --textColor: #F2FAFF;
    --gray: rgba(42, 53, 62, 0.4);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    border: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:'Open Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
    width: 100vw;
    max-width: 100vw;
}
.espaciado {
  width: 10px;
}
.punto {
  color: #4a7ac7;
}
/*Responsive Design*/

@media only screen and (max-width: 1000px) {
    #navbarSupportedContent{
        background-color: var(--thirdColor);
        width: 100vw;
        max-width: 100vw;
    }
    #carouselContainer{
        height: 30vh;
        max-height: 30vh;
    }
    .carousel-item{
        height: 30vh;
    }
    .carousel-indicators li{
        display: none;
    }
    .carousel-control-prev, .carousel-control-next{
        max-height: 30vh;
    }
    .footer-copyright a {
        display: block;   
    }
    #et-info{
        font-size: 15px;
    }
    #videoPrincipal{
        width: 82vw;
        height: 29vh;
    }
    #parrafoRestaurante {
      font-size: 20px;
      font-family: sans-serif
    }
  
  
    .imagen-restaurante{
      border-radius: 15px;
      
     
    }
  
    .imagen-sobreNosotros{
      height: 45vh;
      border-radius: 30px;
    }

  
    #carouselSobreNosotrosContainer{
      height: 60vh;
      width: 100vw;
    }

    .carouselSobreNosotros {
      width: 90vw!important;
      height: 300px!important;
    }
  
    
  
    #parrafoSobreNosotros{
      font-size: 17px;
      font-family: sans-serif;
    }

    .sobre-nosotros.carousel-item.active{
      height: 300px!important;
    }

  
    .imagen-restaurante{
      height: 45vh;
      border-radius: 20px;
    }

    .restaurante-item.carousel-item.active {
      height: 300px!important;
    }
  
    .carouselRestaurante{
      width: 90vw!important;
      height: 140%;
  
    }

    body {
      width: 100vw;
      max-width: 100vw;
    }

  }

/*Seccion NavBar*/

#top-header {
    width: 100vw;
    height: 30px;
    background-color: var(--secondColor);
}
#et-info{
    color: white!important;
}

#top-header i{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
#top-header a{
    color: white;
}
#nombre {
    font-size: 140%;
}

#itemsNavBar{
 margin-left: 190px;
}

#mainNavbar {
    background-color: var(--thirdColor)!important;
    width: 100vw;
    height: 55px;
}
#mainNavbar .nav-item .nav-link{
    position: relative;
    color: var(--primaryColor);
}

#mainNavbar .nav-item .nav-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--secondColor);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
    -webkit-transition: ease .40s;
    -moz-transition: ease .40s;
    -ms-transition: ease .40s;
    -o-transition: ease .40s;
}

.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
#mainNavbar .nav-item:not(:last-child)  .nav-link:hover::after{
    width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler-:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}



section{
    padding: 5rem 0;
}

.section-title{
    padding-bottom: 4rem;
    position: relative;
}

.sub-title{
    color: var(--secondColor);
    font-size: 11px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%) ;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

}
 /*Seccion Carrusel*/

.carousel-item {
    height: 80vh;
    width: 100vw;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .carousel-caption {
    bottom: 220
  }

  .imagen-carousel {
    object-fit: cover;
  }

  /*Seccion Sobre Nosotros*/


  
  .imagen-sobreNosotros{
    border-radius: 30px;
  }

  .carouselSobreNosotros{
    height: 140%;
    width: 35vw;
  }

  

  #parrafoSobreNosotros{
    font-size: 17px;
    font-family: sans-serif;
  }

  

  /*Seccion Restaurante*/

  #parrafoRestaurante {
    font-size: 20px;
    font-family: sans-serif
  }


  .imagen-restaurante{
    border-radius: 30px;
    
   
  }

  .carouselRestaurante{
    width:25vw;
    height: 140%;
    margin-right: 10px;

  }

  /*Seccion Galeria*/

  #videoContainer{
    display: flex;
    justify-content: center;
  }

  .galleryContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 33px;
  }

  .gallery img{
    width: 100%;
  }

  /*Seccion Reservas*/

  .contact-bg{
    background-color: var(--secondColor);
    height: 70vh;
    padding: 50px;
}

form input,textarea{
    color: var(--primaryColor)!important;
    border: 1px solid var(--gray)!important;
}

.form-control::placeholder{
    color: rgba(231, 230, 230, 0.4);
}
.form-row {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea {
    resize: vertical;
  }

  footer{
    background-color: var(--thirdColor);
  }
  .footer-social a i{
    color: #101820;
  }

  .footer-copyright a{
    color: #101820;
    

  }

  .footer-copyright i{
    margin-right: -10px;
  }

  #map-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:56.25%; /*16:9 Aspect Ratio*/
}
#map-container iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

 